<component name="ArtifactManager">
  <artifact type="war" name="SpringWithDojo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringWithDojo.war">
      <element id="artifact" artifact-name="SpringWithDojo:war exploded" />
    </root>
  </artifact>
</component>